<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Ocean</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Ocean</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Emerald</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Emerald</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Sunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Sunset</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Rose</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Rose</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSFamilyControlsUsageDescription</key>
	<string>FocusCage needs access to Screen Time to block apps during focus sessions. This allows us to enforce your focus profiles without any bypasses.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.focuscage.app.refresh</string>
	</array>
</dict>
</plist>
